* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: linear-gradient(to right top, #083b4c, #006578, #009292, #00bf95, #12eb83);
}

h1 {
    text-align: center;
    color: white;
    font-size: 4em;
    margin: 0.8em auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 75%;
    margin: 0 auto;
  }
  
.box {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

/* Background Boxes Color */
.blue-box {
    background-color: #1389b2;
}

.green-box {
    background-color: #0bd6a1;
}

.yellow-box {
    background-color: #ffd166;
}

.pink-box {
    background-color: #f0466f;
}
/* End Background Boxes Color */